@using Sorling.SqlExecMeta;
@using Sorling.sqlexecDevWeb.extensions;
@using Sorling.sqlexecDevWeb.models.pagemodels;
@model DBItemPageModel
@{
    string? ogroup = ViewContext.RouteData.Values["page"]?.ToString()?.Split("/").Last() ?? "objects";
}
@if (Model.DBItems is not null)
{
    <table class="table table-striped">
        <tr><th>Schema</th><th>Name</th><th>Type</th></tr>
        @foreach (var item in Model.DBItems)
        {

            <tr>
                <td><a href="@($"{SqlAuth.UriEscapedPath()}/{ogroup}/{item.DBName}/{item.SchemaName}")">@item.SchemaName</a></td>
                <td><a href="@($"{SqlAuth.UriEscapedPath()}/{item.GroupFlag.GetPageAction()}/{item.DBName}/{item.SchemaName}/{item.Name}/{Model.FilterInt ?? (int)SqlGroupFlags.Objects}/{Model.FilterSchema??""}")"> @item.Name</a></td>
                <td>@item.GroupFlag.GetGroupItemName()</td>
            </tr>
        }
    </table>
}
