@using Sorling.SqlExecMeta;
@using Sorling.sqlexecDevWeb.pages.sqlsrv.components;
@using Sorling.sqlexecDevWeb;
@{
}
<!DOCTYPE html>

<html data-bs-theme="auto" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="build-info" content="@($"{BuildInfo.Version} {BuildInfo.Date}")">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link data-name="vs/editor/editor.main" rel="stylesheet" href="~/lib/monaco-editor/min/vs/editor/editor.main.min.css">
    <script src="~/js/themeswitcher.js" asp-append-version="true"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar sticky-top bg-primary">
        <div class="container-fluid">
            <a class="nav-link text-light" href="/">
                <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                    <img src="/img/connect.png" />
                </span>
            </a>
            <a class="nav-link text-light" href="@($"{SqlAuth.UriEscapedPath()}")">@(SqlAuth.SqlConnAuthenticationData.SqlServer)/@SqlAuth.SqlConnAuthenticationData.UserName</a>
            @if (ViewContext.RouteData.Values["db"] is string db)
            {
                <a class="nav-link text-light" sed-page="SqlGroupFlags.TopLevel">Database:@(db)</a>
                <a class="nav-link text-light" sed-page="SqlGroupFlags.Scripts">Script</a>
                <a class="nav-link text-light" sed-page-byname="projects">Project</a>
            }
            <partial name="_themeButton" />
        </div>
    </nav>
    
    @await Component.InvokeAsync("TopNav")
    
    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer mt-auto text-end">
        <a class="text-muted text-reset text-decoration-none pe-2" href="https://github.com/jsorling/sqlexecDevWeb">sqlexecDevWeb @($"{BuildInfo.Version} {BuildInfo.Date}")
            <svg height="22" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="22" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default">
                <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
            </svg>
        </a>
        
    </footer>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/monaco-editor/min/vs/loader.min.js" asp-append-version="true"></script>
    <script src="~/js/editor.js" asp-append-version="true"></script>
</body>
</html>
