@page "{db}/{prj}/{schema?}/{obj?}/{filter:long?}/{filterschema?}"
@using Sorling.sqlexecDevWeb.pages.sqlsrv;
@model CheckConstraintsModel
@{
}

<partial name="_schemaNavSelectPartial" for="@Model" />
<partial name="_itemsListPartial" for="@Model" />

@if (Model.CheckConstraintItem is not null)
{
    <partial name="_itemPrevNxtPartial" for="@Model" />
    <h1>Check constraint @($"{Model.CheckConstraintItem.SchemaName}.{Model.CheckConstraintItem.Name}")</h1>
    <partial name="_itemTextPartial" for="@Model" />
    <h2>Table</h2>
    var sqlitem = Model.CheckConstraintItem.GetTableSqlItem();
    <a sed-sqlitem="sqlitem" sed-filter-keep>@($"{sqlitem.SchemaName}.{sqlitem.Name}")</a>
}
