@page "{db}/{prj}/{schema?}/{obj?}/{filter:long?}/{filterschema?}"
@using Sorling.sqlexecDevWeb.pages.sqlsrv;
@model DefaultConstraintsModel
@{
}

<partial name="_schemaNavSelectPartial" for="@Model" />
<partial name="_itemsListPartial" for="@Model" />

@if (Model.DefaultConstraintItem is not null)
{
    <partial name="_itemPrevNxtPartial" for="@Model" />
    <h1>Default constraint @($"{Model.DefaultConstraintItem.SchemaName}.{Model.DefaultConstraintItem.Name}")</h1>
    <partial name="_itemTextPartial" for="@Model" />
}